---
import TagList from '@/components/TagList.astro'
import TagPostTimeline from '@/components/TagPostTimeline.astro'
import { allLocales } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'
import { getAllTagsWithCount, getPosts } from '@/utils/content'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}

const currentLang = getLangFromLocale(Astro.currentLocale)
const allTags = await getAllTagsWithCount(currentLang)
const posts = (await getPosts(currentLang)).filter(post => post.data.tags.length > 0)
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Tag List -->
  <TagList
    tags={allTags}
    lang={currentLang}
  />

  <!-- Posts List -->
  <div class="mt-10.5">
    <TagPostTimeline
      posts={posts}
      lang={currentLang}
    />
  </div>
</Layout>
